@page "/"
@inject AppCore appCore

<PageTitle>ElectronicHelathCard</PageTitle>

<h3>Select structure</h3>
<hr />
@if(appCore.Systems is null){
    <select disabled="@IsSelected" class="form-control" @onchange="OnPost">
        <option value="0">Select a structure</option>
        <option value="1">BSTree</option>
        <option value="2">BalanceTree-MyStrategy</option>
    </select>
}else{
    <select disabled class="form-control">
        <option value="0">Structure is selected</option>
    </select>
}

@code
{
    public bool IsSelected = false;
    public int Structure { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if(appCore.Systems is BSTree<ASystem>){
            IsSelected = true;
            Structure = 1;
        }
        else if (appCore.Systems is BalanceTree<ASystem>){
            IsSelected = true;
            Structure = 2;
        }
    }

    public void OnPost(ChangeEventArgs e)
    {
        Structure = int.Parse(e.Value.ToString());
        appCore.Systems = TableFactory<ASystem>.createTable(Structure);
        appCore.Users = TableFactory<AUser>.createTable(Structure);
        appCore.StructureType = Structure;
        IsSelected = true;
    }

}