@page "/"
@inject AppCore appCore

<PageTitle>ElectronicHelathCard</PageTitle>
<h3>Select structure</h3>
<select disabled="@IsSelected" class="form-control" @onchange="OnPost" >
    <option value="0">Select a number</option>
    <option value="1">BSTree</option>
    <option value="2">BalanceTree-MyStrategy</option>
</select>
<hr />
@Structure
@IsSelected


@code
{
    public bool IsSelected = false;
    public int Structure { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if(appCore.)
    }

    public void OnPost(ChangeEventArgs e)
    {
        Structure = int.Parse(e.Value.ToString());
        IsSelected = true;
    }

}